.caja {
    width: 200px;
    height: 200px;
    background: #21295C;
    /* velocidad de la curva
    ease: inicio lento, después rápido y termina lento
    linear: misma velocidad inicio y fin
    ease-out: final lento
    ease-in-out: inicio y fin lento*/
}

.caja:hover {
    transform: rotate(180deg);
    transition: all 1s linear;
}