* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.equipo {
    margin-top: 4rem;
}

h3 {
    margin-top: 0.55rem;
    text-align: center;
}

p {
    margin-top: 0.25rem;
    color: #868482;
    text-align: center;
}