* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #404040;
    padding: 2rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    "header header header"
    "nav main sidebar"
    "footer footer footer"
    ;
}

header, nav, aside, main, footer {
    background-color: lightblue;
    padding: 1rem;
    border: 1px solid blueviolet;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}