* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding: 2rem;
    max-width: 1100px;
    margin-top: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

h3 {
    margin: 0.25rem 0;
    color: #2c66e2;
}

p {
    font-size: 0.89rem;
}

#list2 {
    margin-bottom: 2rem;
}

/* media queries */

/* 600px */
@media screen and (min-width: 600px){
    main {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "img list1"
        "img list2"
        ;
    }

    h3 {
        font-size: 80%;
    }

    p {
        font-size: 75%;
    }

    img {
        grid-area: img;
    }

    #list1 {
        grid-area: list1;
    }

    #list2 {
        grid-area: list2;
    }
}

/* 1000px */
@media screen and (min-width: 1000px){
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-template-areas: 
        "list1 img list2"
        ;
        gap: 1.5rem;
    }

    #list1 {
        text-align: right;
    }

    h3 {
        font-size: 95%;
    }

    p {
        font-size: 90%;
    }
}