@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    /* tamaño del texto */
    font-size: 20px;
    /* grosor */
    font-weight: normal;
    /* color al texto */
    color: blue;
    /* modificar la alineación del texto */
    text-align: center;
    /* subrayado */
    text-decoration: underline;
    /* mayúsculas */
    text-transform: uppercase;
    /* espacio entre letras */
    letter-spacing: 10px;
}