body > p {
    color: green;
}

div[lang = "en_US"] {
    color: blue;
}

div[class ~= "noticia"] {
    color: red;
}

div[lang = "fr"] {
    color: brown;
}

div[lang *= "fr"] {
    font-weight: bold;
}
